body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    text-align: center;
}

.card img {
    max-width: 100%;
    min-height: 100px;
    max-height: 200px;
    border-radius: 8px;
}

.card h2 {
    margin: 15px 0;
    font-size: 1.5em;
}

.card p {
    color: #666;
    font-size: 1em;
    margin-bottom: 20px;
}

.card button {
    background-color: #272930;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #434751;
}